<div class="container-main">
  <h2>Exportar dados para Excel</h2>

  <table cellspacing="0" #table>
    <tr>
      <th colspan="4" style="text-align: center;">Dados API IBGE</th>
    </tr>
    <tr>
      <th>id</th>
      <th>Sigla</th>
      <th>Nome</th>
      <th>Região</th>
    </tr>
    <tr *ngFor="let uf of data">
      <td>{{uf.id}}</td>
      <td>{{uf.sigla}}</td>
      <td>{{uf.nome}}</td>
      <td>{{uf.regiao.nome}}</td>
    </tr>
  </table>
  <div class="buttons">
    <button (click)="exportAsXLSX()"><img src="assets/img/icon-excel.png"> EXPORTAR XLSX</button>
    <button (click)="exportAsCSV()"><img src="assets/img/icon-csv.png"> EXPORTAR CSV</button>
  </div>
</div>